<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-upper-section">
            <div class="card-badge badge bg-danger txt-uppercase">New</div>
            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/lingons_large.png?v=1612833367" alt="gfuel-image">
            <button class="card-float-dismiss-btn btn btn-outline-danger btn-round">
                <i class="fas fa-heart"></i>
            </button>
        </div>
        <div class="card-lower-section mx-2">
            <h5 class="card-title">PewDiePie</h5>
            <p class="card-text" >Inspired by PewDiePie</p>
            <p class="card-text">Rs. 1543</p>
        </div>
        <button class="btn btn-outline-danger m-1">More Info</button>
    </div>

    <div class="card my-1" style="width: 18rem;">
        <div class="card-upper-section">
            <div class="card-badge badge bg-primary txt-uppercase">Popular</div>
            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/sourblue_large.png?v=1612833461" alt="gfuel-image">
            <button class="card-float-dismiss-btn btn btn-outline-primary btn-round">
                <i class="fas fa-lg fa-times"></i>
            </button>
        </div>
        <div class="card-lower-section mx-2">
            <h5 class="card-title">PewDiePie</h5>
            <p class="card-text" >Inspired by PewDiePie</p>
            <p class="card-text">Rs. 1543</p>
        </div>
        <button class="btn btn-outline-primary m-1">More Info</button>
    </div>

    <div class="card my-1" style="width: 18rem;">
        <div class="card-upper-section m-2">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text sm text-light">Card Subtitle</p>
        </div>
        <div class="card-lower-section mx-2">
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, in nobis quas deserunt distinctio beatae illo reiciendis cumque est enim.</p>
        </div>
        <button class="btn btn-outline-success m-1">More Info</button>
    </div>

    <div class="card card-horizontal" style="width: 18rem;">
        <div class="card-upper-section m-1">
            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/scorpion_1_2_-2_7dae400c-fb93-4ec5-ba94-220b0782b971_large.png?v=1612835007" alt="card-img">
        </div>

        <div class="card-lower-section card-lower-section-horizontal m-1">
            <p class="card-text" style="border:1px solid #333;">Pink Drip</p>
            <p class="card-text sm text-light" style="border:1px solid #333;">40 Servings</p>
            
            <div class="card-quant">
                <button class="btn btn-outline-primary btn-round">
                    <i class="fas fa-plus"></i>
                </button>
                <p class="card-text">2</p>
                <button class="btn btn-outline-primary btn-round">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
    </div>
    
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="card-style.css">
    <link rel="stylesheet" href="../../docs-style.css">
</head>
<body>

    <div class="docs-page">
        <header>
            <div class="nav-container nav-container-primary">
                <nav class="navbar">
                    <div class="brand">
                        <i class="fas fa-mountain brand-icon"></i>
                        <h1 class="brand-title">Barak UI</h1>
                    </div>
        
                    <ul class="nav-list">
                        <li class="nav-item"><a class="nav-link" href="../../index.html">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Layout/layout.html">Documentation</a></li>
                        <li class="nav-item"><a class="nav-link nav-link-btn" href="https://github.com/saurav49/BarakUI">github</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <div class="card-desc">
                <p class="xl">THIS PAGE IS STILL IN WORKS....</p>
                <h1 class="lg">Cards</h1>
                <p class="text-light">Barak's cards provide a flexible and extensible content container with multiple variants and options.</p>
                
                <h2 class="md">Example</h2>
                <p class="text-light">Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.</p>
                

                <div class="card-comp">
                    <div class="card" style="width: 18rem;">
                        <div class="card-upper-section">
                            <div class="card-badge badge bg-danger txt-uppercase">New</div>
                            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/lingons_large.png?v=1612833367" alt="gfuel-image">
                            <button class="card-float-dismiss-btn btn btn-outline-danger btn-round">
                                <i class="fas fa-heart"></i>
                            </button>
                        </div>
                        <div class="card-lower-section mx-2">
                            <h5 class="card-title">PewDiePie</h5>
                            <p class="card-text" >Inspired by PewDiePie</p>
                            <p class="card-text">Rs. 1543</p>
                        </div>
                        <button class="btn btn-outline-danger m-1">More Info</button>
                    </div>
                
                    <div class="card my-1" style="width: 18rem;">
                        <div class="card-upper-section">
                            <div class="card-badge badge bg-primary txt-uppercase">Popular</div>
                            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/sourblue_large.png?v=1612833461" alt="gfuel-image">
                            <button class="card-float-dismiss-btn btn btn-outline-primary btn-round">
                                <i class="fas fa-lg fa-times"></i>
                            </button>
                        </div>
                        <div class="card-lower-section mx-2">
                            <h5 class="card-title">PewDiePie</h5>
                            <p class="card-text" >Inspired by PewDiePie</p>
                            <p class="card-text">Rs. 1543</p>
                        </div>
                        <button class="btn btn-outline-primary m-1">More Info</button>
                    </div>
                
                    <div class="card my-1" style="width: 18rem;">
                        <div class="card-upper-section m-2">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text sm text-light">Card Subtitle</p>
                        </div>
                        <div class="card-lower-section mx-2">
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, in nobis quas deserunt distinctio beatae illo reiciendis cumque est enim.</p>
                        </div>
                        <button class="btn btn-outline-success m-1">More Info</button>
                    </div>
                
                    <div class="card card-horizontal" style="width: 18rem;">
                        <div class="card-upper-section m-1">
                            <img class="card-img" src="https://cdn.shopify.com/s/files/1/0223/3113/products/scorpion_1_2_-2_7dae400c-fb93-4ec5-ba94-220b0782b971_large.png?v=1612835007" alt="card-img">
                        </div>
                
                        <div class="card-lower-section card-lower-section-horizontal m-1">
                            <p class="card-text" style="border:1px solid #333;">Pink Drip</p>
                            <p class="card-text sm text-light" style="border:1px solid #333;">40 Servings</p>
                            
                            <div class="card-quant">
                                <button class="btn btn-outline-primary btn-round">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <p class="card-text">2</p>
                                <button class="btn btn-outline-primary btn-round">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cspan%2520class%253D%2522badge%2520bg-primary%2520m-1%2522%253EPrimary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge%2520bg-success%2520m-1%2522%253ESuccess%253C%252Fspan%253E%250A%250A%253C%21--%2520pill%2520badge%2520--%253E%250A%253Cspan%2520class%253D%2522badge%2520btn-pill%2520bg-primary%2520m-1%2522%253EPrimary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge%2520btn-pill%2520bg-success%2520m-1%2522%253ESuccess%253C%252Fspan%253E"
                style="width: 650px; height: 306px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            

            
            
        </main>
    
        <aside>
            <ul class="aside-ul">
                <li class="aside-item"><a href="../../getting-started.html">getting started</a></li>
                <li class="aside-item"><a href="../Layout/layout.html">Introduction</a></li>
                <li class="aside-item"><a href="../Avatar/avatar.html">avatar</a></li>
                <li class="aside-item"><a href="../Alert/Alert.html">alert</a></li>
                <li class="aside-item"><a href="../Badge/badge.html">badge</a></li>
                <li class="aside-item"><a href="../button/button.html">button</a></li>
                <li class="aside-item"><a href="../card/card.html">card</a></li>
                <li class="aside-item"><a href="../image/image.html">image</a></li>
                <li class="aside-item"><a href="../input/input.html">input</a></li>
                <li class="aside-item"><a href="../List/list.html">list</a></li>
                <li class="aside-item"><a href="../Modal/modal.html">modal</a></li>
                <li class="aside-item"><a href="../Navigation/Navigation.html">navigation</a></li>
                <li class="aside-item"><a href="../Rating/rating.html">rating</a></li>
                <!-- <li class="aside-item"><a href="../Alert/Alert.html">text styles</a></li> -->
                <li class="aside-item"><a href="../Toast/toast.html">toast</a></li>
            </ul>
        </aside>
    </div>

</body>
</html>