<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="layout-style.css">
    <link rel="stylesheet" href="../../docs-style.css">
</head>
<body>

    <div class="docs-page">
        <header>
            <div class="nav-container nav-container-primary">
                <nav class="navbar">
                    <div class="brand">
                        <i class="fas fa-mountain brand-icon"></i>
                        <h1 class="brand-title">Barak UI</h1>
                    </div>
        
                    <ul class="nav-list">
                        <li class="nav-item"><a class="nav-link" href="../../index-style.css">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Documentation</a></li>
                        <li class="nav-item"><a class="nav-link nav-link-btn" href="https://github.com/saurav49/BarakUI">github</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <div class="layout-desc">
                <h1 class="lg">Introduction</h1>
                <p class="text-light">Documentation and examples for padding and margin</p>
                
                <!-- <h2 class="md">Example</h2>
                <p class="text-light">Badges scale to match the size of the immediate parent element by using relative font sizing and em units.</p> -->
                

                <div class="layout-comp">
                    <div class="layout-flex">
                        <div>
                            <h3>Padding</h3>
                            <ul>
                                <li>Padding 1em => <span> p-1 </span></li>
                                <li>Padding 2em => <span> p-2 </span></li>
                                <li>Padding 3em => <span> p-3 </span></li>
                                <li>Padding 4em => <span> p-4 </span></li>
                                <li>Padding 5em => <span> p-5 </span></li>
                                <li>Padding Top-Bottom 1em => <span> py-1 </span></li>
                                <li>Padding Top-Bottom 2em => <span> py-2 </span></li>
                                <li>Padding Top-Bottom 3em => <span> py-3 </span></li>
                                <li>Padding Top-Bottom 4em => <span> py-4 </span></li>
                                <li>Padding Top-Bottom 5em => <span> py-5 </span></li>
                                <li>Padding Left-Right 1em => <span> px-1 </span></li>
                                <li>Padding Left-Right 2em => <span> px-2 </span></li>
                                <li>Padding Left-Right 3em => <span> px-3 </span></li>
                                <li>Padding Left-Right 4em => <span> px-4 </span></li>
                                <li>Padding Left-Right 5em => <span> px-4 </span></li>
                            </ul>
                        </div>

                        <div>
                            <h3>Margin</h3>
                            <ul>
                                <li>Margin 1em => <span> m-1 </span></li>
                                <li>Margin 2em => <span> m-2 </span></li>
                                <li>Margin 3em => <span> m-3 </span></li>
                                <li>Margin 4em => <span> m-4 </span></li>
                                <li>Margin 5em => <span> m-5 </span></li>
                                <li>Margin Top-Bottom 1em => <span> my-1 </span></li>
                                <li>Margin Top-Bottom 2em => <span> my-2 </span></li>
                                <li>Margin Top-Bottom 3em => <span> my-3 </span></li>
                                <li>Margin Top-Bottom 4em => <span> my-4 </span></li>
                                <li>Margin Top-Bottom 5em => <span> my-5 </span></li>
                                <li>Margin Left-Right 1em => <span> mx-1 </span></li>
                                <li>Margin Left-Right 2em => <span> mx-2 </span></li>
                                <li>Margin Left-Right 3em => <span> mx-3 </span></li>
                                <li>Margin Left-Right 4em => <span> mx-4 </span></li>
                                <li>Margin Left-Right 5em => <span> mx-4 </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cspan%2520class%253D%2522badge%2520bg-primary%2520m-1%2522%253EPrimary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge%2520bg-success%2520m-1%2522%253ESuccess%253C%252Fspan%253E%250A%250A%253C%21--%2520pill%2520badge%2520--%253E%250A%253Cspan%2520class%253D%2522badge%2520btn-pill%2520bg-primary%2520m-1%2522%253EPrimary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge%2520btn-pill%2520bg-success%2520m-1%2522%253ESuccess%253C%252Fspan%253E"
                style="width: 650px; height: 306px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe> -->
            
        </main>
    
        <aside>
            <ul class="aside-ul">
                <li class="aside-item"><a href="../../getting-started.html">getting started</a></li>
                <li class="aside-item"><a href="../Layout/layout.html">Introduction</a></li>
                <li class="aside-item"><a href="../Avatar/avatar.html">avatar</a></li>
                <li class="aside-item"><a href="../Alert/Alert.html">alert</a></li>
                <li class="aside-item"><a href="../Badge/badge.html">badge</a></li>
                <li class="aside-item"><a href="../button/button.html">button</a></li>
                <li class="aside-item"><a href="../card/card.html">card</a></li>
                <li class="aside-item"><a href="../image/image.html">image</a></li>
                <li class="aside-item"><a href="../input/input.html">input</a></li>
                <li class="aside-item"><a href="../List/list.html">list</a></li>
                <li class="aside-item"><a href="../Modal/modal.html">modal</a></li>
                <li class="aside-item"><a href="../Navigation/Navigation.html">navigation</a></li>
                <li class="aside-item"><a href="../Rating/rating.html">rating</a></li>
                <!-- <li class="aside-item"><a href="../Alert/Alert.html">text styles</a></li> -->
                <li class="aside-item"><a href="../Toast/toast.html">toast</a></li>
            </ul>
        </aside>
    </div>

</body>
</html>