* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, "sans-serif";
}

main {
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.toast-desc > h1 {
  padding: 0.3em 0em;
  color: #333;
}

.toast-desc > h2 {
  padding: 0.7em 0em;
  color: #333;
}

.toast-comp {
  margin: 3em 0em 1em 0em;
  padding: 1em 0.5em;
  border: 1px solid #eee;
  border-radius: var(--b-rad-05);
  box-shadow: var(--box-shadow);
}

h3 {
  color: #333;
  margin: 1em;
}

.toast-flex {
  display: flex;
  flex-direction: column;
}

.toast-flex > div {
  margin: 1em 0.7em;
}

iframe {
  text-align: center;
}
