<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="alert-style.css">
    <link rel="stylesheet" href="../../docs-style.css">
</head>
<body>

    <div class="docs-page">
        <header>
            <div class="nav-container nav-container-primary">
                <nav class="navbar">
                    <div class="brand">
                        <i class="fas fa-mountain brand-icon"></i>
                        <h1 class="brand-title">Barak UI</h1>
                    </div>
        
                    <ul class="nav-list">
                        <li class="nav-item"><a class="nav-link" href="../../index.html">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Layout/layout.html">Documentation</a></li>
                        <li class="nav-item"><a class="nav-link nav-link-btn" href="https://github.com/saurav49/BarakUI">github</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <div class="alert-desc">
                <h1 class="lg">Alerts</h1>
                <p class="text-light">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
                
                <h2 class="md">Examples</h2>
                <p class="text-light">Alerts are available for any length of text, as well as an optional close button. For proper styling, use one of the eight required contextual classes (e.g., .alert-success).</p>
                

                <div class="alert-comp">
                    <!-- success-alert -->
                    <div class="alert alert-success">
                        <i class="fas fa-check-circle"></i>
                        <p>This is a success alert</p>
                    </div>
        
                    <!-- warning-alert -->
                    <div class="alert alert-warning">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p>This is a warning alert</p>
                    </div>
        
                    <!-- error-alert -->
                    <div class="alert alert-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <p>This is a error alert</p>
                    </div>
        
                    <!-- info-alert -->
                    <div class="alert alert-info">
                        <i class="fas fa-info-circle"></i>
                        <p>This is a info alert</p>
                    </div>
                </div>
            </div>


            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253C%21--%2520success-alert%2520--%253E%250A%253Cdiv%2520class%253D%2522alert%2520alert-success%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-check-circle%2522%253E%253C%252Fi%253E%250A%2509%253Cp%253EThis%2520is%2520a%2520success%2520alert%253C%252Fp%253E%250A%253C%252Fdiv%253E%250A%250A%253C%21--%2520warning-alert%2520--%253E%250A%253Cdiv%2520class%253D%2522alert%2520alert-warning%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-exclamation-triangle%2522%253E%253C%252Fi%253E%250A%2509%253Cp%253EThis%2520is%2520a%2520warning%2520alert%253C%252Fp%253E%250A%253C%252Fdiv%253E"
                style="width: 1024px; height: 473px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            
            
        </main>
    
        <aside>
            <ul class="aside-ul">
                <li class="aside-item"><a href="../../getting-started.html">getting started</a></li>
                <li class="aside-item"><a href="../Layout/layout.html">Introduction</a></li>
                <li class="aside-item"><a href="../Avatar/avatar.html">avatar</a></li>
                <li class="aside-item"><a href="../Alert/Alert.html">alert</a></li>
                <li class="aside-item"><a href="../Badge/badge.html">badge</a></li>
                <li class="aside-item"><a href="../button/button.html">button</a></li>
                <li class="aside-item"><a href="../card/card.html">card</a></li>
                <li class="aside-item"><a href="../image/image.html">image</a></li>
                <li class="aside-item"><a href="../input/input.html">input</a></li>
                <li class="aside-item"><a href="../List/list.html">list</a></li>
                <li class="aside-item"><a href="../Modal/modal.html">modal</a></li>
                <li class="aside-item"><a href="../Navigation/Navigation.html">navigation</a></li>
                <li class="aside-item"><a href="../Rating/rating.html">rating</a></li>
                <!-- <li class="aside-item"><a href="../Alert/Alert.html">text styles</a></li> -->
                <li class="aside-item"><a href="../Toast/toast.html">toast</a></li>
            </ul>
        </aside>
    </div>

</body>
</html>